#categoryIndex {

}


#categoryHeader {
	border-style: none;
	font-size: 1.2em;
}

.createModalBtn {
	background-color: #FE9F01;
	border-color: #FE9F01;
	color: #fff;

}

.createModalBtn:hover {
	color: #fff;

}
/*card*/

.viewBtn {
	background-color: #88DfEF;
	color: #000;
	border-color: #88DfEF;
}


/*header*/
.active1 {
	text-decoration: underline;
}


/*show*/
.addAssetBtn {
	background-color: #33297B;
	border-color: #33297B;
	color: #fff;
}

.addAssetBtn:hover {
	color: #fff;
}


