#loginPage {
	background-image: 
    url(/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

@media only screen and (min-width: 768px) {

	#loginPage {

		background-image: 
	    url(/images/bg.jpg);
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    height: 100vh;
	    width: 100%;
	
	}
}