.AllNav {
	background-color: #33297B;

	a {
		color: #fff;
	}

	ul li #logoutForm {

		background-color: #33297B;
	}

	.navbarBtn {

		padding-top: 1rem;
		background-color: #fff;
		border-style: none;

		.navbar-toggler-icon {
			color: #fff;
		}

	}



	
}