#navbarToggleExternalContent {

	height: 100%;
	width: 100%;
	background-color:  #33297B;
	

	#userName {
		background-color: #33297B;
		list-style-type: none;
		

		a {
			color: #fff;	
		}
	}

	.list-group a {
		background-color:  #33297B;
		color: #fff;
	}

}



@media only screen and (min-width: 768px) {

	#navbarToggleExternalContent {

		width: 100%;
	}
}