

#welcomePage{
    background-image: 
    url(/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;



	.full-height {
	    height: 100vh;
	}

	.flex-center {
	    align-items: center;
	    display: flex;
	    justify-content: center;
	}

	.position-ref {
	    position: relative;
	}

	.top-right {
	    position: absolute;
	     right: 10px;
	    top: 18px;
	}

	.content {
	    text-align: center;
	}

	.title {
	    font-size: 84px;
	}

	.links > a {
	    color: #fff;
	    padding: 0 25px;
	    font-size: 13px;
	    font-weight: 600;
	    letter-spacing: .1rem;
	    text-decoration: none;
	    text-transform: uppercase;
	}

	.m-b-md {
	    margin-bottom: 30px;
	}

}


#welcomeTitle {
	color: #fff;
	padding: 10rem;
	text-shadow: 2px 2px #fff;
}
  