// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    background-color: #fff;
    color: #636b6f;
     font-family: 'Nunito', sans-serif;
     font-weight: 200;
    height: 100vh;
    margin: 0;
}

@import 'welcome';          
@import 'login';          
@import 'register';          
@import 'navbar';          
@import 'sidebar';          
@import 'category';          
@import 'units'; 

.card img{
	object-fit: contain;
	width: auto;
	height: 10rem;

}    

.active {
	background-color: #fff;
	color: #000;
}     
